# gateway runtime
OPENCLAW_IMAGE=openclaw:local
OPENCLAW_GATEWAY_BIND=lan
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_CONFIG_DIR=/home/agent/.openclaw
OPENCLAW_WORKSPACE_DIR=/home/agent/.openclaw/workspace
XDG_CONFIG_HOME=/home/node/.openclaw

# services
SCRAPLING_MCP_URL=http://scrapling:8000/mcp

# secrets
OPENCLAW_GATEWAY_TOKEN=''

BRAVE_API_KEY=''
GEMINI_API_KEY=''

GOG_KEYRING_PASSWORD=''

GH_PAT=''

